/* TODO: inserite il CSS necessario per completare il MHW! */
#button{
    background-color: #cecece;
    height: 50px;
    width: 100%;
    border: none;
}

#button:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}

.choice-grid {
    display: flex;
    /*Se gli elementi non entrano nel contenitore, vanno messi a capo*/
    flex-wrap: wrap;
    justify-content: space-between;
}
/*0-1-1*/
.choice-grid div {
    box-sizing: border-box;
    /*Default: content-box.Solitamente la larghezza si riferisce al contenuto.Cambiando attributo, la larghezza si riferirà all'intero elemento considerando anche border e padding*/
    width: 32.5%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: solid #dcdcdc 1px;
}

.choice-grid div img {
    width: 100%;
    /*Per scegliere il rapporto larghezza/altezza*/
    aspect-ratio: 1;
}
/*Dato che vale specificità, non dovrebbe modificare caratteristiche della checkbox*/

/*Creare solo classe '.selected' non fa funzionare*/
.choice-grid div.selected {
    background-color: #cfe3ff;
}
/*In questo caso funziona anche solo con .opaque.->
Il problema sta nel colore di sfondo perche non funziona nemmeno su opaque se lo cambio
Soluzione: I pesi dei selettori di elementi si sommano, quindi hanno più peso rispetto
al singolo selettore di classe. Aggiunti i pesi per capire meglio

link:https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity*/

/*0-1-0*/
.opaque {
    opacity: 0.6;
}

.result {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.result h1 {
    margin-bottom: 18px;
}

.result p {
    margin-bottom: 18px;
}

@media (max-width: 700px) {
    article {
        width: 95%;
        margin: auto;
    }

    header div span {
        display: none;
    }
}

@media (max-width: 500px) {
    .choice-grid div {
        width: 49%;
    }
}